[submodule "server/py-utils"]
	path = server/kuropy
	url = https://github.com/kuroji-fusky/kuropy.git
[submodule "client/client/kuro-ui"]
	path = client/packages/kuro-ui
	url = https://github.com/kuroji-fusky/kuro-ui.git
